server:
  port: 8000

spring:
  application:
    name: peryfeerie-strona

  datasource:
    url: jdbc:postgresql://localhost:5432/fundacja-db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true